@{
    ViewData["Title"] = "Home Page";
}
<h2>Página publica de um Client MVC</h2>
<p><a asp-area="" asp-controller="Admin" asp-action="Secure">Clique aqui para ter acesso a informações secretas.</a></p>